{% assign current_variant = product.selected_or_first_available_variant %}
{%
assign featured_image = current_variant.featured_image | default:
product.featured_image %}


<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"/>
{% for image in product.images %}
    <a href="{{ image.src | img_url: 'large' }}">
        <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}"/>
    </a>
{% endfor %}
<h1>{{ product.title }}</h1>


<form action="/cart/add" class="shopify-product-form" enctype="multipart/form-data" id="add-to-cart" method="post">
    <select id="productSelect" name="id">
        {% for variant in product.variants %}
            {% if variant.available %}
                <option value="{{ variant.id }}" id="variant_id">
                    {{ variant.title }}
                    -
                    {{ variant.price | money_with_currency }}
                </option>
            {% else %}
                <option disabled="disabled">{{ variant.title }}
                    - sold out</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="Quantity">quantity</label>
    <input id="Quantity" min="1" name="quantity" type="number" value="1"/>

    <input id="cart_index-count" name="properties[_cart_index]" type="hidden" value=" {{cart.item_count}} ">

    {% if current_variant.inventory_management == "shopify" and
  current_variant.inventory_policy != "continue" %}
        {%if current_variant.inventory_quantity > 5 %}
            <button class="add" id="add" onclick="addItem('add-to-cart') " type="button">
                Add to cart
            </button>
        {%elsif  current_variant.inventory_quantity < 1%}
            <button disabled id="out-of-stock" name="out-of-stock" type="button">
                Add to cart
            </button>
        {% else %}
            <button class="add" id="add" name="add" onclick="addItem()" type="button">
                Low stock
            </button>
        {% endif %}
    {% endif %}
    <div>{{ product.description }}</div>

</form>


<script>
let variant_id = document.getElementById("variant_id").value;
let quantity = document.getElementById("Quantity").value;
let cart_indexCount = document.getElementById("cart_index-count").value

let currentcount = Number(cart_indexCount) + 1 ;

let formData = {
    "items": [
        {
            "id": variant_id,
            "quantity": quantity,
            "properties": {
                "_cart_index": currentcount
            }
        }
    ]
};

function addItem() {
    fetch('/cart/add.js', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
    }).then(response => {
        return response.json();
    }).catch((error) => {
        console.error('Error:', error);
    });
}




</script>

<style>
.add {
    background: #63aa63;
    color: #fff;


}
.add:hover {
    background: #0000ff !important;
}

</style>